

:root{
    --fp :'Poppins', sans-serif;
    --celeste: #0652DD;
    --celesteOscuro: #2980b9;
    --verde: #2ecc71;
    --violeta: #9b59b6;
    --grisConcreto: #95a5a6;
    --grisOscuro: #2c3e50;
    --grisFuerte:#334;
    --silver: #bdc3c7;
    --rojo:#EA2027;
    --radio: 10px;
}

html{
    font-family: var(--fp);
    font-size: 20px;
    background-color: #000;

}

.nav{
    background-color: var(--grisOscuro);
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
   
}

.nav span{
    color: var(--silver);
    
}
.nav input{
    border: none;
    border-radius: 50px;
    padding: 5px;
    text-align: center;
}

.btn{
    display: flex;
    background-color: var(--silver);
    border-radius: var(--radio);
    border: none;
    color: var(--grisOscuro);
    box-shadow: 1px 1px 3px 0 #000;
    justify-content: center;
    padding: 5px;
    
    
}

.btn:hover{
    cursor: pointer;
    color: var(--silver);
    background: var(--grisFuerte);
    
    outline:  1px solid var(--celeste);
   
}

.btn-activado{
    color: var(--silver);
    background: var(--grisFuerte);
    outline:  1px solid var(--celeste);

}
.btn-comprar{
    margin: 0px;
    width: 100%;
}

.contenedor-principal{
    background-image: url(../img/massive-horror-collage-wallpaper-horror-movies-game-wallpapers-1778622464.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.titulo{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.42620798319327735) 76%, rgba(255,255,255,0) 100%);
    max-height: 140px;
}

.titulo h2{
    display: none;
}
.contenedor1{
    overflow: auto;
    background: url(../img/1653297680_702523_1653300885_noticia_normal.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid var(--celeste);
}
.main{
    background: rgb(44,62,80);
    background: linear-gradient(0deg, rgba(44,62,80,0)60%, rgba(44,62,80,1) 100%); 
    
    display: flex;
    justify-content: center;
}
.peliculas-contenedor{
    
    overflow: auto;
    max-width: 1500px;
    display: grid;
    grid-template-columns:  1fr ;
}

.par{
margin: 5px;
width: 100%;
display: flex;
justify-content: center;
padding: 5px;
}
.par button{
    margin: 5px;
    
}
.par span{
    text-align: center;
    display: flex;
    align-items: center;
}

#buscador{
    width: 100%;
}








@media (min-width: 600px) {
  .peliculas-contenedor{
    grid-template-columns:  1fr 1fr ;
    }  
    .titulo{
        max-height:none;
    }
    .titulo h2{
        display: block;
    }
    .btn{
        padding: 8px 10px 8px 10px;
        justify-content: center;
    }
    .nav{
        background-color: var(--grisOscuro);
        padding: 10px;
        
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;

    }
    .par{
        width: auto;
    }
    
    #buscador{
        width: auto;
    }
}

@media (min-width: 768px) {
  .peliculas-contenedor{
    grid-template-columns:  1fr 1fr 1fr;
    }  
}
@media (min-width: 1200px) {
    .peliculas-contenedor{
      
      grid-template-columns:  1fr 1fr 1fr 1fr;
      }  
    
  }


.pelicula{
    position: relative;
    background-color: #111;
    max-width: 300px;
    max-height: 600px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    margin: 15px;
    box-shadow: 2px 2px 15px 0 #000;
}

.pelicula:hover{
    transform: scale(1.05);
    
}


.imagen img{

    object-fit: cover;
    object-position:bottom;
    width: 100%;
    height: 400px;
}


.logoFormato{
    position: absolute;
    filter: drop-shadow();
    top: 0;
    
}
.logoFormato img{
    
    width: 60px;
    opacity: .5;
}

.logoFormatoMini img{
    width:45px ;
}


.info span{
    padding: 5px;
    text-align: center;
    
    display: block;
    color: var(--silver);
}
.info .btn{
    width: 100%;
    
}

h1,h2, h3{
    
    text-align:left;
    color: var(--silver);
    margin: 0;
    padding: 25px;
}

.busqueda{
    background-color: #EA2027;
    color: var(--silver);
    width: 100%;
    text-align: center;

}

.usuario{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: var(--silver);
    
}
.usuario p{
    padding: 0 10px 0 10px;
    
}
i{
    cursor: pointer;
    padding: 5px;
    vertical-align: center;
    
}


.contenedor-carrito{
    background: #ddd;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-top: 20px;
}
fieldset{
    text-align: center;
}

legend{
    font-size: 25px;
    font-weight: bold;
}
td{
    padding-top: 10px;
}
#tabla{
    width: 100%;
}
.botonesCarrito{
    display: flex;
    justify-content: center;
    position: fixed;

}
.botonesCarrito button{
    align-items: center;
    margin: 5px 10px 5px 10px;
    background: var(--grisOscuro);
    color: var(--silver);
}
.botonesCarrito button:hover{
    background: var(--grisOscuro);
    scale: 1.05;
}


@media (min-width: 768px) {
  .contenedor-carrito{
    
    max-width: 990px;
    padding: 10px;
    background: #ddd;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    }  
}
.carrito{

    display: flex;
    justify-items: center;
    align-items: center;

}

.activo {
    visibility:visible;
}

.resultado{
    font-weight: bold;
    font-size: 30px;
}




.fa-fade, .fa-flip{
    --fa-animation-duration: 2s;
}

.contenedor-footer{
    background-color: var(--grisFuerte);
    
    border-top: 2px solid #0652DD;
}
.contenedor-footer a{
    text-decoration: none;
    color: #ddd;

}

.contenedor-footer h3{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
}

.contenedor-social{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.derechos{
    margin-top: 10px;
    background-color: var(--silver);
}